<div>
  <h2>Lista osób</h2>
  <button (click)="addPeople()">Add 10 people to list</button>
  <table>
<tr>
  <th>Imię</th>
  <th>Nazwisko</th>
  <th>Wiek</th>
  <th>PESEL</th>
  <th>Kod pocztowy</th>
  <th>Miasto</th>
  <th>Ulica</th>
</tr>

<tr *ngFor="let person of people">
  <th>{{person.firstName}}</th>
  <th>{{person.lastName}}</th>
  <th>{{person.age}}</th>
  <th>{{person.pesel}}</th>
  <th>{{person.postalCode}}</th>
  <th>{{person.city}}</th>
  <th>{{person.street}}</th>
  <th>
    <button (click)="changePerson(person)">Zmień</button>
    <button (click)="deletePerson(person.id)">Usuń</button>
  </th>
</tr>
  </table>

</div>


