<div>
  <form [formGroup]="personForm">
    <table>
      <input type="hidden" name="id" formControlName="id" value="{{personInForm.id}}">
      <tr>
        <td>Imię</td>
        <td>
          <input type="text" name="firstName" formControlName="firstName" Name="firstName"
                 value="{{personInForm.firstName}}"
                 [ngClass]="{'in-valid': !personForm.controls['firstName'].valid
&& personForm.controls['firstName'].touched}">
          <b class="alert" *ngIf="!personForm.controls['firstName'].valid
&& personForm.controls['firstName'].touched"> parametr wymagany, maksymalna długość: 50 liter</b>
        </td>
      </tr>
      <tr>
        <td>Nazwisko</td>
        <td>
          <input type="text" name="lastName" formControlName="lastName"
                 value="{{personInForm.lastName}}"
                 [ngClass]="{'in-valid': !personForm.controls['lastName'].valid
&& personForm.controls['lastName'].touched}">
          <b class="alert" *ngIf="!personForm.controls['lastName'].valid
&& personForm.controls['lastName'].touched"> parametr wymagany, maksymalna długość: 100 liter</b>
        </td>
      </tr>
      <tr>
        <td>Wiek</td>
        <td>
          <input type="text" name="age" formControlName="age"
                 value="{{personInForm.age}}"
                 [ngClass]="{'in-valid': !personForm.controls['age'].valid
&& personForm.controls['age'].touched}">
          <b class="alert" *ngIf="!personForm.controls['age'].valid
&& personForm.controls['age'].touched"> parametr wymagany, liczba z zakresu <1,100></b>
        </td>
      </tr>
      <tr>
        <td>Pesel</td>
        <td>
          <input type="text" name="pesel" formControlName="pesel"
                 value="{{personInForm.pesel}}"
                 [ngClass]="{'in-valid': !personForm.controls['pesel'].valid
&& personForm.controls['pesel'].touched}">
          <b class="alert" *ngIf="!personForm.controls['pesel'].valid
&& personForm.controls['pesel'].touched"> niewłaściwy pesel</b>
        </td>
      </tr>
      <tr>
        <td>Kod pocztowy</td>
        <td>
          <input type="text" name="postalCode" formControlName="postalCode"
                 value="{{personInForm.postalCode}}"
                 [ngClass]="{'in-valid': !personForm.controls['postalCode'].valid
&& personForm.controls['postalCode'].touched}">
          <b class="alert" *ngIf="!personForm.controls['postalCode'].valid
&& personForm.controls['postalCode'].touched"> wymagany format XX-XX złożony z cyfr</b>
        </td>
      </tr>
      <tr>
        <td>Miasto</td>
        <td>
          <input type="text" name="city" formControlName="city"
                 value="{{personInForm.city}}"
                 [ngClass]="{'in-valid': !personForm.controls['city'].valid
&& personForm.controls['city'].touched}">
          <b class="alert" *ngIf="!personForm.controls['city'].valid
&& personForm.controls['city'].touched"> parametr wymagany, maksymalna długość: 50 znaków</b>
        </td>
      </tr>
      <tr>
        <td>Ulica</td>
        <td>
          <input type="text" name="street" formControlName="street"
                 value="{{personInForm.street}}"
                 [ngClass]="{'in-valid': !personForm.controls['street'].valid
&& personForm.controls['street'].touched}">
          <b class="alert" *ngIf="!personForm.controls['street'].valid
&& personForm.controls['street'].touched"> parametr wymagany, maksymalna długość: 50 znaków</b>
        </td>
      </tr>
      <tr>
        <button (click)="savePerson()" *ngIf="personInForm.id==null">Dodaj</button>
        <button (click)="updatePerson()" *ngIf="personInForm.id!=null">Aktualizuj</button>

        <button (click)="clearForm()">Wyczyść</button>
      </tr>
    </table>
  </form>
</div>
